# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/WebApi/node_modules
/WebApi/bin
/WebApi/obj
/packages
/DataEntities/bin
/DataEntities/obj

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode


# misc


# e2e


# System Files


/WebApi/angularApp/**/*.js
/WebApi/angularApp/**/*.map
