<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Form Stuff</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">User List<small> All users.</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" [ngClass]="{'panel-expand': exapnd}" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" (click)="exapnd =!exapnd"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" (click)="show =!show"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">User List</h4>
                </div>
                <div class="panel-body panel-form" [ngClass]="{'active': show,'deactive': !show}">
                    <div class="row">
                        <div class="col-md-12">
                            <a role="button" [routerLink]="['/admin/adduser']" class="btn btn-primary pull-right">Add User</a>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                            <p-dataTable [value]="users"
                                                 [rows]="10" 
                                                 [paginator]="true" 
                                                 [pageLinks]="3" 
                                                 [rowsPerPageOptions]="[5,10,20]"
                                                 selectionMode="single" >
                                        <p-column field="FirstName" header="First Name" [sortable]="true"></p-column>
                                        <p-column field="LastName" header="Last Name" [sortable]="true"></p-column>
                                        <p-column field="Email" header="Email" [sortable]="true"></p-column>
                                        <p-column field="Mobile" header="Mobile" [sortable]="true"></p-column>
                                        <p-column field="Status" header="Status" [sortable]="true"></p-column>
                                        <p-column styleClass="col-button">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <a [routerLink]="['/admin/edituser',user.Id]"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                                        <a (click)="deleteUser(user)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end panel -->
                </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>

<div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" (click)="hideConfirmation()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title semi-bold" align="center">{{ 'COMMON.CONFIRMATION' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{ 'COMMON.AREUSUREDELETE' | translate }}
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-custom" (click)="confirmDeleteUser()">{{ 'COMMON.YES' | translate }}</button>
                <button type="button" class="btn btn-custom" (click)="hideConfirmation()" data-dismiss="modal">{{ 'COMMON.NO' | translate }}</button>
            </div>
        </div>
    </div>
</div>
