<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a [routerLink]="['/admin/users']">Users</a></li>
        <li><a href="javascript:;">Add User</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.ADD'|translate)}} {{'USER.USER'|translate}}<small> {{'COMMON.ENTERALL'|translate}}.</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" [ngClass]="{'panel-expand': exapnd}" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" (click)="exapnd =!exapnd"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" (click)="show =!show"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.ADD'|translate)}} {{'USER.USER'|translate}} {{'COMMON.DETAILS'|translate}}</h4>
                </div>
                <div class="panel-body panel-form" [ngClass]="{'active': show,'deactive': !show}">
                    <form class="form-horizontal form-bordered" [formGroup]="userForm" (submit)="saveUser(userForm)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="FirstName">{{'USER.FNAME'|translate}}:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="FirstName" placeholder="First Name" />
                                        <validation-messages [control]="userForm.controls.FirstName"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="LastName">{{'USER.LNAME'|translate}}:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="LastName" id="LastName" placeholder="Last Name" />
                                        <validation-messages [control]="userForm.controls.LastName"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Email">{{'USER.EMAIL'|translate}} :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="email" formControlName="Email" id="Email" placeholder="Email" />
                                        <validation-messages [control]="userForm.controls.Email"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Password">{{'USER.PASSWORD'|translate}} :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="password" formControlName="Password" id="Password" placeholder="Password" />
                                        <validation-messages [control]="userForm.controls.Password"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="fullname">{{'USER.MOBILE'|translate}} :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Mobile" id="Mobile" placeholder="Mobile" />
                                        <validation-messages [control]="userForm.controls.Mobile"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="email">{{'USER.ROLE'|translate}}  :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select class="form-control" formControlName="RoleId" id="RoleId">
                                            <option></option>
                                            <option *ngFor="let role of roleList" [ngValue]="role.Id">{{role.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="fullname">{{'USER.STATUS'|translate}} :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="checkbox"  formControlName="Status"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.SAVE'|translate)}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>