<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a [routerLink]="['/admin/events']">Events</a></li>
        <li><a href="javascript:;">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.ADD'|translate)}} {{'EVENT.EVENT'|translate}}</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.ADD'|translate)}} {{'EVENT.EVENT'|translate}}<small> {{'COMMON.ENTERALL'|translate}}.</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" [ngClass]="{'panel-expand': exapnd}" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" (click)="exapnd =!exapnd"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" (click)="show =!show"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.ADD'|translate)}} {{'EVENT.EVENT'|translate}} {{'COMMON.DETAILS'|translate}}</h4>
                </div>
                <div class="panel-body panel-form" [ngClass]="{'active': show,'deactive': !show}">
                    <form class="form-horizontal form-bordered" [formGroup]="eventForm" (submit)="saveEvent(eventForm.value)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Name">{{'EVENT.NAME'|translate}}:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Name" placeholder="Event Name" />
                                        <validation-messages [control]="eventForm.controls.Name"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Orgnizer">{{'EVENT.ORGANIZER'|translate}}:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Orgnizer" placeholder="Orgnizer" />
                                        <validation-messages [control]="eventForm.controls.Orgnizer"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
         
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Name">Event Type:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="EventType" placeholder="Event Type" />
                                        <validation-messages [control]="eventForm.controls.EventType"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="Orgnizer">Status:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Status" placeholder="Status" />
                                        <validation-messages [control]="eventForm.controls.Status"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4">Address:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Address" placeholder="Address" />
                                        <validation-messages [control]="eventForm.controls.Address"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4">City:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="City" placeholder="City" />
                                        <validation-messages [control]="eventForm.controls.City"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4">State:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="State" placeholder="State" />
                                        <validation-messages [control]="eventForm.controls.State"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4">Country:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" formControlName="Country" placeholder="Country" />
                                        <validation-messages [control]="eventForm.controls.Country"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2">Event Start Time:</label>
                                    <div id="eventStartTime" class="col-md-10 col-sm-10">
                                        <datetime style="float:left"  formControlName="EventStartTime"  [(datepicker)]="datepickerOpts" [timepicker]="lossTimepciker"></datetime>
                                        <validation-messages [control]="eventForm.controls.EventStartTime"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2">Event End Time:</label>
                                    <div class="col-md-10 col-sm-10">
                                        <datetime formControlName="EventEndTime" [(datepicker)]="datepickerOpts" [timepicker]="lossTimepciker"></datetime>
                                        <validation-messages [control]="eventForm.controls.EventEndTime"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">{{Id ? ('COMMON.UPDATE'|translate): ('COMMON.SAVE'|translate)}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>