<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="/assets/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                  {{user.FirstName}} {{user.LastName}}
                    <small>Front end developer</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub" >
                <a (click)="dasboardm=!dasboardm">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Masters</span>
                </a>
                <ul class="sub-menu"  [ngClass]="{'active': !dasboardm, 'deactive': dasboardm}">
                    <li><a [routerLink]="['/admin/users']">Users</a></li>
                    <li><a [routerLink]="['/admin/roles']">Roles</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a [routerLink]="['/admin/events']">
                    <span class="badge pull-right"></span>
                    <i class="fa fa-inbox"></i>
                    <span>Events</span>
                </a>
               
            </li>
            
           
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
